<html>
    <head>
        <link rel="stylesheet" href="nrbstyle.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel='icon' href='./res/favicon-32x32.png' type='image/x-icon'/ >
    <title>NRB-Vue</title>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand pull-left" href="#"><img src="./res/widian_old.png">    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                    <a class="nav-link" href="#" style="color: #4b95c9">Just Testing <span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>
    </nav>

    </head>
    <body>
        <div class="row" style="color: white">a</div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">

              <div class="form" style="background-color: white">

                  <h5 class="text-center">Widian Employees</h5>
                    <div id ="root">
                    <div class="form-group ml-3 mr-3">
                        <label for="newEmployee" class="myleft-margins">New Employee Name</label>
                        <input v-model="newEmployee" class="form-control" id="newEmployee"@keyup.enter="addEmployee" placeholder="Enter new employee name here">
                    </div>
                    <div class="form-group ml-3 mr-3 mt-3">
                        <button class="btn btn-primary btn-block" @click="addEmployee"> Add Employee </button>
                        <u1>
                            <li v-for="emp in emps">{{emp.name | firstCapitalize }}</li>
                        </u1>
                    </div>

                    <div class="form-group ml-3 mr-3 mt-3">
                        <employee-list :emps="emps" />
                    </div>

                </div>
                </div>
            </div>
            </div>
          <div class="col-md-3"></div>

      </div>
        <script src="nrbhello.js"></script>
    </body>
</html>